:root {
  --color-orange-light: #E39228;
  --color-orange-dark: #D95A1E;
  --color-red: #D33016;

  --color-orange-light-neutral: #ffddb3;
  --color-orange-dark-neutral: #e4c59f;

  --border-radius-md: 8px;
  --border-radius-lg: 10px;

  --box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.15);
}