/* @font-face {
  font-family: 'Noto Sans Myanmar';
  src: local('Noto Sans Myanmar'), url('./fonts/NotoSansMyanmar-Regular.woff') format('woff'), url('./fonts/NotoSansMyanmar-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Noto Sans Myanmar';
  src: local('Noto Sans Myanmar'), url('./fonts/NotoSansMyanmar-Bold.woff') format('woff'), url('./fonts/NotoSansMyanmar-Bold.ttf') format('ttf');
  font-weight: bold;
} */

@font-face {
  font-family: 'Noto Sans Zawgyi';
  src: local('Noto Sans Zawgyi'), url('./fonts/NotoSansZawgyi-Regular.woff') format('woff'), url('./fonts/NotoSansZawgyi-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Noto Sans Zawgyi';
  src: local('Noto Sans Zawgyi'), url('./fonts/NotoSansZawgyi-Bold.woff') format('woff'), url('https://www.mmwebfonts.com/fonts/NotoSansZawgyi-Bold.ttf') format('ttf');
  font-weight: bold;
}
