.videoCard {
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow) !important;
  cursor: default;
  overflow: hidden;

  .video-player {
    .vjs-big-play-button {
      background-color: rgba(var(--color-orange-dark-rgb), 0.7);
      border-color: rgba(var(--color-orange-dark-rgb), 0.7);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.25s ease-in-out;
    }

    .vjs-icon-placeholder::before {
      display: grid;
      place-items: center;
    }

    &:hover .vjs-big-play-button {
      background-color: rgba(var(--color-red-rgb), 0.7);
      border-color: rgba(var(--color-red-rgb), 0.7);
    }
  }
}
